.task {
    height: 70px;
    background-color: white;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 4px solid brown;
    border-right: none;
}
.task__text {
    padding: 15px;
    overflow: auto;
    flex-grow: 1;
    color: brown;
}
.task__del-btn {
    flex-shrink: 0;
    width: 70px;
    height: 100%;
    background-color: brown;
    cursor: pointer;
    font-size: 40px;
    font-weight: 700;
    color: white;
    transition: 0.1s;
}
@keyframes delete {
    0% {
        left: 0;
        top: 0;
    }
    40% {
        left: 0;
        top: 0;
    }
    100% {
        left: -2000px;
        top: 0;
    }
}

.deleted {
    position: relative;
    left: 0;
    top: 0;
    border-color: green;
    animation-name: delete;
    animation-duration: 1s;
}
.deleted .task__del-btn {
    background-color: green;
}
.deleted .task__text {
    text-decoration: line-through solid green;
}

@media (max-width: 600px) {
    .task {
        font-size: 16px;
    }
}
